h1 {
              font-family: 'impact';
              font-weight: normal;
              font-style: normal;
              color: #304c84;
			  text-align: center;}
*{
 font-family: 'impact';
              font-size: 17px;
              font-weight: normal;
              font-style: normal;
              color: #304c84;
			  text-align: center;}

			body {
			    background-image: url("https://mail.google.com/mail/u/0/?ui=2&ik=7462ded19f&attid=0.1&permmsgid=msg-a:r3358031689705429331&th=18e05c9ceda262e6&view=fimg&realattid=f_ltbwn3yy0&disp=thd&attbid=ANGjdJ8WNl4lZ3jzEMorv4mOk_Uib2vtl4nkvOFJQ-IbtPI_KfbHY5JDixOhuxjSAXu8fc5nghdZRB4gPbxeZydt8SDboxQRqg_17rvHSYvdiYGN9UHCNUYF2wh0N1Q&ats=2524608000000&sz=w2560-h1347");
            background-repeat: no-repeat;
               background-attachment: fixed;
  background-size: cover;
              width: 100%;
				margin: 0 auto;}
			#content {
				overflow: auto;}
			#nav, #feature, #footer {
				margin: 1%;
                padding: 25px;}

			.column1, .column2, .column3 {
				width: 31.3%;
				float: left;
				margin: 1%;}
            .column1 {
  				background-color: #e6e7fa;}
            .column2 {
    		    background-color: #e6e7fa;}
			.column3 {
			    background-color: #e6e7fa;}
			li {
				display: inline;
				padding: 0.5em;}
			#nav, #footer {
			   
				background-color: #e6e7fa;
				padding: 0.5em 0;}
#feature{
				 background-color: #97baea;
                
                 background-image: url("https://f2.toyhou.se/file/f2-toyhou-se/images/67241354_dgLlgmERaa4RP9B.gif");
                 background-size: 250px;
                 background-position: right;
                 background-repeat:no-repeat;}
